<div class='card p-3 bg-light'>
    <form (submit)="update(rent)" ngNativeValidate>
        <h2 style="text-align: center;"><i>Edit Form</i></h2>
        <div class=" col-sm-6">
            <label class="form-label">Quantity: </label>
            <input name="quantity" [(ngModel)]="rent.quantity" class="form-control" type="text">
        </div>

        <div class=" col-sm-6">
            <label class="form-label">Payment: </label>
            <input name="payment" [(ngModel)]="rent.payment" class="form-control" type="text">
        </div>

        <div class=" col-sm-6">
            <label class="form-label">Currency: </label>
            <input name="currency" [(ngModel)]="rent.currency" class="form-control" type="text">
        </div>

        <div class=" col-sm-6">
            <label class="form-label">Rental Order: </label>
            <input name="rentalOrder" [(ngModel)]="rent.rentalOrder" class="form-control" type="date">
        </div>

        <div class=" col-sm-6">
            <label class="form-label">Date Order: </label>
            <input name="dateOrder" [(ngModel)]="rent.dateOrder" class="form-control" type="date">
        </div>


        <div class="form-check form-row">
            <label class="form-label"> Customer: </label>
            <select class="form-control" name="customer" [compareWith]="comparator" [(ngModel)]="rent.customer" >
                <option *ngFor="let customer of customers" [ngValue]="customer">
                    {{ customer.email }}
                </option>
            </select>
        </div>
        <div class="form-check form-row">
            <label class="form-label"> Book: </label>
            <select class="form-control" name="book" [compareWith]="comparator2" [(ngModel)]="rent.book" required>
                <option *ngFor="let book of books" [ngValue]="book">
                    {{ book.name }}
                </option>
            </select>
        </div>

        <div>
            <button type="submit" class="btn btn-success">Submit</button>
            <button (click)="goBack()" type="submit" class="btn btn-secondary m-2">Cancel</button>
        </div>
    </form>
</div>