<div class = 'card p-3 bg-light'>
    <form (submit)="update(user)" ngNativeValidate>
      <h2 style="text-align: center;"><i>Edit User</i></h2>
      <div class=" col-sm-6">
        <label class="form-label">Username: </label>
        <input name="username" [(ngModel)]="user.username" class="form-control" type="text" placeholder="username">
      </div>
  
      <div class=" col-sm-6">
        <label class="form-label">Password: </label>
        <input name="password" [(ngModel)]="user.password" class="form-control" type="password" placeholder="password">
      </div>
  
      <div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button (click) = "goBack()" type="submit" class="btn btn-secondary m-2">Cancel</button>
      </div>
    </form>
  </div>