<div class = 'card p-3 bg-light'>
    <form (submit)="update(customer)" ngNativeValidate>
      <h2 style="text-align: center;"><i>Edit User</i></h2>
      <div class=" col-sm-6">
        <label class="form-label">Username: </label>
        <input name="username" [(ngModel)]="customer.username" class="form-control" type="text" placeholder="username" required>
        <div *ngIf="errorMessage != ''" class="alert-message w-100 m-2">
          <div class="alert-message-row w-100 m-2">
            {{errorMessage}}
          </div>
        </div>
      </div>

      <div class=" col-sm-6">
        <label class="form-label">Password: </label>
        <input name="password" [(ngModel)]="customer.password" class="form-control" type="password" placeholder="Enter password" required>
      </div>
  
      <div class=" col-sm-6">
        <label class="form-label">First Name: </label>
        <input name="firstName" [(ngModel)]="customer.firstName" class="form-control" type="text" placeholder="Enter first name" required>
      </div>

      <div class=" col-sm-6">
        <label class="form-label">Last Name: </label>
        <input name="lastName" [(ngModel)]="customer.lastName" class="form-control" type="text" placeholder="Enter last name" required>
      </div>

      <div class=" col-sm-6">
        <label class="form-label">Date Of Birth: </label>
        <input name="dateOfBirth" [(ngModel)]="customer.dateOfBirth" class="form-control" type="date" placeholder="Enter Date Of Birth" required>
      </div>

      <div class=" col-sm-6">
        <label class="form-label">E mail: </label>
        <input name="email" [(ngModel)]="customer.email" class="form-control" type="email" placeholder="Enter email" required>
      </div>

      <div class=" col-sm-6">
        <label class="form-label">Phone Number: </label>
        <input name="phoneNumber" [(ngModel)]="customer.phoneNumber" class="form-control" type="text" placeholder="Enter Phone Number" required>
      </div>

      <div class=" col-sm-6">
        <label class="form-label">Place: </label>
        <input name="place" [(ngModel)]="customer.place" class="form-control" type="text" placeholder="Enter place" required>
      </div>

      <div class=" col-sm-6">
        <label class="form-label">Address: </label>
        <input name="address" [(ngModel)]="customer.address" class="form-control" type="text" placeholder="Enter address" required>
      </div>
  
      <div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button (click) = "goBack()" type="submit" class="btn btn-secondary m-2">Cancel</button>
      </div>
    </form>
  </div>