<nav class="navbar navbar-expand-lg navbar-light bg-light row-justify-between nav">
  <a class="navbar-brand" routerLink="/libraries">E-Library</a>
  <button *ngIf="loginService.isLoggedIn()" [routerLink]="['/users']" type="button"  class="btn btn-light"><i>Users</i></button>
  <button *ngIf="loginService.isLoggedIn()" [routerLink]="['/books']" type="button"  class="btn btn-light"><i>Books</i></button>
  <button *ngIf="loginService.isLoggedIn()" [routerLink]="['/rents']" type="button"  class="btn btn-light"><i>Rents</i></button>
  <button *ngIf="loginService.isLoggedIn()" [routerLink]="['/orders']" type="button"  class="btn btn-light"><i>Orders</i></button>

  <button [routerLink]="['/signup']" type="button"  class="btn btn-outline-primary"  id="signuP">Sign up</button>
  <button *ngIf="!loginService.isLoggedIn()" [routerLink]="['/login']" type="button"  class="btn btn-outline-info m-1">Login</button>
  <button *ngIf="loginService.isLoggedIn()" (click)="loginService.logout()" type="button"  class="btn btn-outline-danger m-1">Logout</button>
</nav>
<router-outlet></router-outlet>

