<div class='card p-3 bg-light'>
    <form (ngSubmit)="create()"  [formGroup]="forma" ngNativeValidate>
      <h2 style="text-align: center;"><i>Registration Form</i></h2>
      <div class=" col-sm-6">
        <label class="form-label">Username: </label>
        <input name="username" formControlName="username" class="form-control" type="text" placeholder="Enter Username" required>
        <div *ngIf="errorMessage != ''" class="alert-message w-100 m-2">
          <div class="alert-message-row w-100 m-2">
            {{errorMessage}}
          </div>
        </div>
      </div>
      <div class="text-danger w-100 m-2">
        <ng-container *ngFor="let error of error_messages.username">
          <div class="text-danger"
            *ngIf="forma.get('username')?.hasError(error.type) && (forma.get('username')?.dirty || forma.get('username')?.touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
  
  
      <div class=" col-sm-6">
        <label class="form-label">Password: </label>
        <input name="password" #pw formControlName="password" class="form-control" type="password" placeholder="Create password" required>
      </div>
      <div class="text-danger w-100 m-2">
        <ng-container *ngFor="let error of error_messages.password">
          <div class="text-danger w-100"
            *ngIf="forma.get('password')?.hasError(error.type) && (forma.get('password')?.dirty || forma.get('password')?.touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>
  
  
      <div class=" col-sm-6">
        <label class="form-label">Confirm Password: </label>
        <input name="password" [ngClass]='confirmPasswordClass' formControlName="confirmPassword" #cpw
          (keyup)='checkPasswords(pw.value, cpw.value)' class="form-control" type="password" placeholder="Confirm password" required>
      </div>
      <p class="text-danger" *ngIf="passwordMatchError">Password does not match! </p>
  
      <div class=" col-sm-6">
        <label class="form-label">First name: </label>
        <input name="firstName" formControlName="firstName" class="form-control" type="text"
          placeholder="Enter First name" required>
      </div>
      <div class=" col-sm-6">
        <label class="form-label">Last name: </label>
        <input name="lastName" formControlName="lastName" class="form-control" type="text" placeholder="Enter Last name"
          required>
      </div>

      <div class=" col-sm-6">
        <label class="form-label">Date of birth: </label>
        <input name="dateOfBirth" formControlName="dateOfBirth" class="form-control" type="date" placeholder="Enter Date of birth"
          required>
      </div>
  
      <div class=" col-sm-6">
        <label class="form-label">Email: </label>
        <input name="email" formControlName="email" class="form-control" type="email" placeholder="Enter email" required>
      </div>
      <div class="text-danger w-100 m-2">
        <ng-container *ngFor="let error of error_messages.email">
          <div class="text-danger w-100" *ngIf="forma.get('email')?.hasError(error.type) && (forma.get('email')?.dirty || forma.get('email')?.touched)">
            {{ error.message }}
          </div>
        </ng-container>
      </div>

      <div class=" col-sm-6">
        <label class="form-label">Phone number: </label>
        <input name="phoneNumber" formControlName="phoneNumber" class="form-control" type="text"
          placeholder="Enter phone number" required>
      </div>
      <div class=" col-sm-6">
        <label class="form-label">Place: </label>
        <input name="place" formControlName="place" class="form-control" type="text"
          placeholder="Enter place" required>
      </div>
      <div class=" col-sm-6">
        <label class="form-label">Address: </label>
        <input name="address" formControlName="address" class="form-control" type="text"
          placeholder="Enter address" required>
      </div>
  

  
      <div>
        <button type="submit" class="btn btn-success">Sign Up</button>
        <button (click)="goBack()" type="submit" class="btn btn-secondary m-2">Cancel</button>
      </div>
      <p class="text-center">Have an account? <a href="" [routerLink]="['/login']">Log In</a> </p>
    </form>
  </div>