div{
    width: 50%;
    margin-left: 20%;
    margin-bottom: 2%;
  }
  
  .card{
    width:60%;
    border: 2% solid #ccc;
    border-radius: 10%;
    padding: 0.5vw;
  }
  .text-danger{
    margin-left: 20%
  }
  